/* Research */

#research {

	.link-to {
		position: relative;
		top: -4.5em;
	}

	.link-container h4 {
		text-decoration:none;
		border-bottom: none;
		display: inline-flex;

		a {
				padding: 0 .5em;
				margin: 0;
		}
	}

	.publications {

		.title {
			text-align: center;
			margin-bottom: 2em;
			margin-top: 2em;
		}
	}
	.current {

		.title {
			text-align: center;
			margin-bottom: 2em;
			margin-top: 2em;
		}
	}

	.jobs-container {
		.points {
			li {
				margin: 0;
				padding: 0;
					font-size: .9em;
			}
		}
	}

	.progress {

		.title {
			text-align: center;
			margin-bottom: 2em;
			margin-top: 2em;
		}
	}

	.references {
		margin: 2em 0;
		.title {
			text-align: center;
		}
	}
}

.daterange {
	margin-bottom: .2em;
}

.degree-container {
	h4 {
		font-weight: normal;
	}

	.degree {
		margin-bottom: .1em;
		text-transform: none;
		letter-spacing: 0.16em;
		font-size: .8em;
	}

	.school {
		text-transform: none;
		padding-top: 0.3em;
		margin-bottom: 1em;
	}
}



